<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div id="menu-admin"></div>
    </div>
    <div class="span10">
      <div id="table-admin"></div>
    </div>
  </div>
</div>