<table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>City</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#this}}
            <tr {{data 'fila'}}>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{lastname}}</td>
              <td>{{city}}</td>
              <td>
                <a class="text-info">
                  <i class="icon-edit"></i>
                </a>
                <a class="text-error">
                  <i class="icon-remove"></i>
                </a>
              </td>
            </tr>
            {{/this}}
          </tbody>
        </table>
