<table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            {{#data}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{lastname}}</td>
              <td>{{city}}</td>
            </tr>
            {{/data}}
          </tbody>
        </table>