<div class="row">
    <div class="span4 offset4">
      <div class="well">
        <legend>Sign in to WebApp</legend>
        
            <div hidden class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
            </div>      
            <input class="span3" placeholder="Username" type="text" name="username">
            <input class="span3" placeholder="Password" type="password" name="password"> 
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
       
      </div>
    </div>
</div>