<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="title">Eliminar registro</h3>
  </div>
  <div class="modal-body">
    Desea eliminar el registro {{id}}?
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancelar</a>
    <a class="btn btn-primary">Eliminar</a>
  </div>
</div>