<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container" style="width: auto;">
		<div class="navbar-header">
			<a class="navbar-brand">{{name}}</a>
		</div>
		<div class="collapse navbar-collapse">
			{{>views/menu/menu.mustache}}
			{{#if usr}}
				<ul class="data-{{key}} nav navbar-right">
					<li class="dropdown data-{{key}}">
						<a class="dropdown-toggle" data-toggle="dropdown">
									{{usr.name}}
						</a>
						<ul class="dropdown-menu">
							{{#usr.options}}
							{{>views/topbar/usr.mustache}}
							{{/usr.options}}
						</ul>
					</li>	
							
				</ul>
			{{/if}}
		</div>
	</div>
</div>